@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: Inter;
}

* {
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  height: 3.9375rem;
  padding: 0 1.5rem;
}

.upload-button {
  background: #ffffff;
  border: 0.0125rem solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
}

.navbar-list {
  display: none;
}

@media screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }
  .navbar {
    height: 5.5rem;
    padding: 0 4rem;
  }
  .navbar-list {
    display: flex;
    font-size: 1rem;
    align-items: center;
  }
  .list-item {
    margin: 0 0.5rem;
  }
}
